body{
    font-family: Arial, Helvetica, sans-serif;
}

#botao{
    background-color: blue;
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#botao:hover{
    background-color: rgb(117, 117, 253);
}